<a id="@popoverId" tabindex="0" role="button" data-html="true" data-toggle="popover" data-trigger="hover"
   title="@dataTitle" data-content="@dataContent">
  @ChildContent
</a>
<span id="@hiddenTitleId" hidden>@DisplayTitle</span>
<span id="@hiddenContentId" hidden>@DisplayContent</span>